<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitacora_botanica</title>
    <link width="40" height="40"  rel="shortcut icon" href="../static/logo/logo_small_icon_only_inverted.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',  filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/imagePreview.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <h3  class="text-center"> <a class="navbar-brand" href="#">
            <img src="../../static/logo/logo_small_icon_only_inverted.png" width="40" height="40" alt="">
            </a> Bienvenido : {{user.first_name}} {{user.last_name}}, </h3>
        <a href="/logout" class="btn btn-info">Salir</a>
    </nav>
    <div>
        <center>
            <a href="/dashboard">
                <img class="logo" name="logo" src="../static/logo/logo_small.png"></img>
            </a>
        </center>
        <div class="container w-50 rounded-5 shadow py-4">
            <form action="/create/bitacora_botanica" method="post" enctype="multipart/form-data" class="mx-auto">
                <h2 class="display-6 mx-3">Ingresar Especie</h2><br>
                {% with messages = get_flashed_messages(category_filter=['bitacora_botanica']) %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error al ingresar el texto</strong>
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="d-flex justify-content-between col-11 mx-auto">
                    <div class="col-11">
                        <div class="form-group pb-3">
                            <label for="name">Especie:</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group pb-3">
                            <label for="Familia">Familia:</label>
                            <input name="Familia"  class="form-control"></input>
                        </div>
                        <div class="form-group pb-3">
                            <label for="Variedad">Variedad:</label>
                            <input name="Variedad"  class="form-control"></input>
                        </div>
                        <div class="form-group pb-3">
                            <label for="date_made">Fecha de Clasificacion :</label>
                            <input type="date" name="date_made" class="form-control">
                        </div> 
                        <div class="form-group pb-3">
                            <label for="lugarobservado">Lugar observado:</label>
                            <input name="lugarobservado"  cols="30" rows="5" class="form-control"></input>
                        </div>
                        <div class="form-group pb-3">
                            <label for="cultivo">Cultivo:</label>
                            <textarea name="cultivo"  cols="10" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group pb-3">
                            <label for="bibliografia">Autor:</label>
                            <textarea name="bibliografia"  cols="10" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group pb-3">
                            <label for="description">Descripcion:</label>
                            <textarea name="description"  cols="30" rows="5" class="form-control"></textarea>
                        </div><br>

                        <!-- Campo de carga de imágenes -->
                       
                        <div class="form-group pb-3">
                            <label for="imagenes">Insertar Imágenes:</label>
                            <input type="file" name="imagenes[]" id="imagenes" class="form-control" multiple accept="image/*">
                            <small class="form-text text-muted">Seleccione múltiples imágenes usando la tecla Ctrl o Shift.</small>
                        </div>
                        
                        <br>
                        <input type="submit" value="Subir" class="btn btn-primary">
                        </div>
                    </div>
                
            </form>
        </div>
            <br><br>



        </div>

    <div>
        <footer >
          <ul class="nav justify-content-center border-bottom bg-light pb-4 mb-0">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted"><img src="../static/logo/logo_small_icon_only.png" width="40" height="40" alt=""> &copy; 2022 Por Alex Arce, Ing.Agronomo</p>
        </footer>
    </div>
</body>
</html>

